@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li, summary { list-style: none;}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* hazır kodlarım */

.loading-bg {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    > p {
        font-size: 22px;
        font-weight: 600;
        line-height: 1;
        color: #2C84C1;
    }
}

.loading {
    width: 100px;
    height: 100px;
    border: 10px solid #2C84C1;
    border-radius: 50%;
    display: inline-block;
    border-top: 10px solid transparent;
    animation: loading 1s infinite linear;
}

.loadingSmall {
    width: 30px;
    height: 30px;
    border: 4px solid #222831;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid transparent;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.active {
    color: #2C84C1 !important;
    text-decoration: underline;
}

.full-page {
    width: 100%;
    height: 100vh;
    /* background-color: #ebebeb; */
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    > img {
        height: 70px;
    }
    > h3 {
        font-size: 28px;
        font-weight: 600;
        color: #2C84C1;
        line-height: 0.9;
    }
}

.header {
    > .container {
        background-color: #fff;
        padding: 32px;
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
        > div {
            display: flex;
            align-items: center;
            gap: 32px;
            > a {
                color: rgba(0,0,0,0.4);
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
    }
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;
    > img {
        height: 40px;
        border-radius: 50%;
    }
    > p {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #2C84C1;
    }
}

.main {
    height: calc(100% - 32px);
    > .container {
        height: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 32px;
    }
}

.content-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.ad-area {
    height: 100%;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    > a {
        > img {
            width: 100%;
            object-fit: cover;
            height: 161.25px;
            transition: all .3s;
        }
    }
    > a:hover {
        > img {
            scale: 1.05;
        }
    }
}

.search-ticket {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    gap: 16px;
    padding: 32px;
    align-items: end;
    background-color: #fff;
    border-radius: 16px 16px 0 0;
    
    > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        > input, select {
            padding: 8px;
            height: 40px;
        }
        > p {
            font-size: 14px;
            display: flex;
            align-items: center;
            letter-spacing: 1px;
            gap: 8px;
        }
    }
    > button {
        height: 40px;
        background-color: #2C84C1;
        color: #ebebeb;
        border: none;
        cursor: pointer;
    }
}

.ticket-list {
    position: relative;
    padding: 32px;
    height: 572px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 0 0 16px 16px;
    > table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        & th, td {
            border: 1px solid black;
            padding: 8px;
        }
        & th {
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 12px;
        }
        & td {
            text-align: center;
            > p {
                font-size: 14px;
                font-weight: 700;
            }
            > h6 {
                margin-top: 4px;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 1px;
            }
            > button {
                padding: 6px 16px;
                letter-spacing: 1px;
                border: none;
                color: #fff;
                background-color: #2C84C1;
                cursor: pointer;
            }
        }
    }
}

.ticket-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.ad_image {
    height: 599px;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    object-fit: cover;
    border-radius: 0 0 16px 16px;
}

.my-tickets {
    height: 100%;
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
    > table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        & th, td {
            border: 1px solid black;
            padding: 8px;
        }
        & th {
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 12px;
        }
        & td {
            text-align: center;
            > p {
                font-size: 14px;
                font-weight: 700;
            }
            > h6 {
                margin-top: 4px;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 1px;
            }
            > button {
                padding: 6px 16px;
                letter-spacing: 1px;
                border: none;
                color: #fff;
                background-color: #2C84C1;
                cursor: pointer;
            }
        }
    }
}

.goticket {
    color: #000;
    font-weight: 600;
    text-decoration: underline;
}

.ticket {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.warning {
    margin-top: 8px;
    color: #f00;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
}

